// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

.top-bar .name {
	h1 a { font-weight: 500; }
}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}

//Edits
.tab-bar{
	position: absolute;
	z-index: 5;
	line-height: 4.5rem;
	.left-small{
	width: 4.25rem;
	height: 4.25rem;
	position: fixed;
	top: 50px;
	/* border: solid 3px white; */
	left: auto !important;
	right: 50px !important;
	
	text-align: center;
	background-color: black;
	z-index: 99999;
		a{
			color: white;
			font-weight: bolder;
			font-size: 16px;
			letter-spacing: 1px;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.logotype{
	max-width: 200px;
	color: white;
	font-weight: bolder;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}
ul.off-canvas-list{
	max-width: 200px;
	margin: auto;
	color: white;
	margin-top: 50px;
	.divider{
		color: white;
	}
	li{
		text-align: center;
		a{
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 24px;
		}
	}
}